{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">Order Confirmation</h1>

    <div class="row g-4">
        <div class="col-12">

            <div class="card shadow-sm">
                <div class="card-header">
                    <!--Will refer to dbs in the future-->
                    <strong>Order #{{ "%04d"|format(booking.id) }}</strong> has been confirmed!
                </div>

                <div class="card-body">
                    <h5 class="card-title mb-3">
                        {{ booking.event.title }}
                    </h5>
                    <p class="mb-1">
                        <strong>Order ID:</strong> ORD#{{ "%04d"|format(booking.id) }}
                    </p>
                    <p class="mb-1"><strong>Customer:</strong> {{ booking.user.name }}</p>
                    <p class="mb-1"><strong>Date placed:</strong> {{ booking.created_at.strftime('%d/%m/%Y %I:%M %p') }}</p>
                    <p class="mb-1"><strong>Tickets:</strong> {{ booking.quantity }}</p>
                    <p class="mb-1"><strong>Total:</strong> ${{ "%.2f"|format(booking.quantity * booking.event.ticket_price) }}</p>
                </div>
            </div>
            <h4 class="mt-4">Thank you for your purchase!</h4>
            <a href="{{url_for('main.view_events')
                        }}" class="btn btn-primary mt-3 me-2">
                Return To Homepage
            </a>
            <a href="{{url_for('bookings.show_bookings')}}" class="btn btn-primary mt-3">
                View Booking History
            </a>
        </div>
    </div>
</div>

{% endblock %}